*{
	font-family: "Arial", sans-serif;
	font-size: 20px;
}
#p3{
	color: yellow;
}
h1{
	font-size: 60px;
}
#bootcamp-learnings{
	text-transform: uppercase;
}
.languages{
	background-color: darkseagreen;
}
li[value]{
	border: 2px lightsteelblue solid;
}
img + ul{
	list-style-type: none;
}
body img{
	height: 130px;
	width: 130px;
	border-radius: 80px;
}
h3 ~ p{
	text-align: center;
}
body>ul{
	letter-spacing: 10px;
}